html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.gameName{
  font-size: 340px;
  font-family: 'Stick No Bills', sans-serif;
  text-align: center;
  border-radius: 50px;
  padding: 0px 40px;

  text-shadow: -4px 3px 0 #e9ceac,
                1px 1px 0 #e9ceac,
                1px -1px 0 #e9ceac,
                -1px -1px 0 #e9ceac
}

.mySignature{
  font-size: 14px;
  color: #ffffff;
  font-family: 'WindSong', cursive;
  text-align: center;
}

.para{
  font-size: 35px;
  color :whitesmoke;
  font-family: 'Abel', sans-serif;
  text-align: center;
   
}
.para2{
  font-size: 37px;
  color :whitesmoke;
  font-family: 'Abel', sans-serif;
  text-align: center;
}

.state2{
  font-size: 37px;
  color :black;
  font-family: 'Abel', sans-serif;
  text-align: center;
}

.state{
  font-size: 45px;
  color :black;
  font-family: 'Abel', sans-serif;
    text-align: center;
}

#grad {
  background-image: linear-gradient(to top, red, yellow);
}
